/* .sidebar {
    float: left;
    color: #fff;
    width: 250px;
    height: 100vh;
    background-color:  #d5cbd4;
    font-family: 'Calibri'

} */

/* .sidebar h2 {
    padding: 20px 0 10px 0;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
} */

/* .sidebar a {
    font-size: 20px;
    color: #fff;
    display: flex;
    justify-content: left;
    padding: 5px;
    padding-left: 25%;
    text-decoration: none;
    outline: none;
} */

/* .sidebar {
  opacity: 1;
  background: #def4f6;
  border: black;
} */

.sidebar .sidebar-toggle-btn[aria-pressed="true"] {
  opacity: 1;
  border: black;
  /* background-color: #68e7f3; */
}
