/* .sidebar {
    float: left;
    color: #fff;
    width: 250px;
    height: 100vh;
    background-color:  #d5cbd4;
    font-family: 'Calibri'

} 

.sidebar h2 {
    padding: 20px 0 10px 0;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.sidebar a {
    font-size: 20px;
    color: #fff;
    display: flex;
    justify-content: left;
    padding: 5px;
    padding-left: 25%;
    text-decoration: none;
    outline: none;
} 
*/
 .sidebar-toggle-btn {
    opacity: 0.5;
    background-color: aquamarine;
 }

 .sidebar-toggle-btn[aria-pressed="true"] {
    background-color:#8cedf6 ; 
 }

 .css-ueukts-MuiButtonBase-root-MuiToggleButton-root {
    background-color: aquamarine;

 }