.sidebar {
    float: left;
    color: #fff;
    width: 250px;
    /* padding-left: 20px; */
    height: 100vh;
    background-color:  #f21bce;
    font-family: 'Calibri'

}

/* Div header */
.sidebar h2 {
    padding: 20px 0 10px 0;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

/* Div links */
.sidebar a {
    font-size: 20px;
    color: #fff;
    display: flex;
    justify-content: left;
    padding: 5px;
    padding-left: 25%;
    text-decoration: none;
    outline: none;
}